body {
    background: url(img/bg1.png);
    background-size: 128px 128px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    font-size: 13px;
    color: #ffffff;
    align-self: center;
    text-align: center;
}
